<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.ChengguoMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Chengguo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="text" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sid, time, text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chengguo
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getchengguo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chengguo
  </select>

  <select id="getchengguoBystudent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chengguo
    where sid = #{sid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chengguo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Chengguo">
    insert into chengguo (id, sid, time, 
      text)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Chengguo">
    insert into chengguo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="text != null">
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Chengguo">
    update chengguo
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Chengguo">
    update chengguo
    set sid = #{sid,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>