<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.FankuiMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Fankui">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, time, text, teacher, classes, sid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fankui
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getfankui" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fankui
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fankui
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Fankui">
    insert into fankui (id, time, text, 
      teacher, classes, sid
      )
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Fankui">
    insert into fankui
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="teacher != null">
        teacher,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Fankui">
    update fankui
    <set>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Fankui">
    update fankui
    set time = #{time,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>