<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.HomedataMapper">

  <select id="getyaoyuenumGroupBytime" resultType="java.lang.Integer">
         select COUNT(*)
         from yaoyue
         GROUP BY time
  </select>

  <select id="getyaoyuedateGroupBytime" resultType="java.lang.String">
         select time
         from yaoyue
         GROUP BY time
  </select>

  <select id="getdaofangGroupBytime" resultType="java.lang.Integer">
         select COUNT(*)
         from yaoyue
         where daofang = 1
         GROUP BY time ;
  </select>

  <select id="getdaofangdateGroupBytime" resultType="java.lang.String">
         select time
         from yaoyue
         where daofang = 1
         GROUP BY time ;
  </select>

  <select id="getsumpriceGroupBytime" resultType="java.lang.Double">
         select sum(price)
         from qiandan
         GROUP BY time;
  </select>

  <select id="gettimeGroupBytime" resultType="java.lang.String">
         select time
         FROM qiandan
         GROUP BY time;
  </select>

  <select id="getyaoyuenumGroupByteacher" resultType="java.lang.Integer">
         select count(*)
         from yaoyue
         GROUP BY tname;
  </select>

  <select id="getteacherGroupByteacher" resultType="java.lang.String">
         select tname
         from yaoyue
         GROUP BY tname;
  </select>

  <select id="getstudentnumGoupByclass" resultType="java.lang.Integer">
        select COUNT(*)
        from ruxuetest
        GROUP BY cid
  </select>

</mapper>