<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.QiandanMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Qiandan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yid" jdbcType="VARCHAR" property="yid" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="classteacher" jdbcType="VARCHAR" property="classteacher" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yid, classes, price, time, teacher, classteacher, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qiandan
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getqiandan"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qiandan order by id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qiandan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Qiandan">
    insert into qiandan (id, yid, classes, 
      price, time, teacher, 
      classteacher, info)
    values (#{id,jdbcType=INTEGER}, #{yid,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, 
      #{classteacher,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Qiandan">
    insert into qiandan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yid != null">
        yid,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="teacher != null">
        teacher,
      </if>
      <if test="classteacher != null">
        classteacher,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yid != null">
        #{yid,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="classteacher != null">
        #{classteacher,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Qiandan">
    update qiandan
    <set>
      <if test="yid != null">
        yid = #{yid,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="classteacher != null">
        classteacher = #{classteacher,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Qiandan">
    update qiandan
    set yid = #{yid,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      classteacher = #{classteacher,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>