<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.RuxuetestMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Ruxuetest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="text1" jdbcType="VARCHAR" property="text1" />
    <result column="text2" jdbcType="VARCHAR" property="text2" />
    <result column="text3" jdbcType="VARCHAR" property="text3" />
    <result column="text4" jdbcType="VARCHAR" property="text4" />
    <result column="text5" jdbcType="VARCHAR" property="text5" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="guihua" jdbcType="VARCHAR" property="guihua" />
    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sid, cid, text1, text2, text3, text4, text5, age, score, guihua, beizhu, teacher, 
    time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ruxuetest
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getruxuetest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ruxuetest
  </select>

  <select id="getruxuetestBystudent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ruxuetest
    where sid = #{sid,jdbcType=INTEGER}
  </select>

  <select id="getruxuetestBystudentandclass" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ruxuetest
    where sid = #{0} and cid= #{1}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ruxuetest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Ruxuetest">
    insert into ruxuetest (id, sid, cid, 
      text1, text2, text3, 
      text4, text5, age, 
      score, guihua, beizhu, 
      teacher, time)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{text1,jdbcType=VARCHAR}, #{text2,jdbcType=VARCHAR}, #{text3,jdbcType=VARCHAR}, 
      #{text4,jdbcType=VARCHAR}, #{text5,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR}, #{guihua,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Ruxuetest">
    insert into ruxuetest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="text1 != null">
        text1,
      </if>
      <if test="text2 != null">
        text2,
      </if>
      <if test="text3 != null">
        text3,
      </if>
      <if test="text4 != null">
        text4,
      </if>
      <if test="text5 != null">
        text5,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="guihua != null">
        guihua,
      </if>
      <if test="beizhu != null">
        beizhu,
      </if>
      <if test="teacher != null">
        teacher,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        #{text5,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="guihua != null">
        #{guihua,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null">
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Ruxuetest">
    update ruxuetest
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="text1 != null">
        text1 = #{text1,jdbcType=VARCHAR},
      </if>
      <if test="text2 != null">
        text2 = #{text2,jdbcType=VARCHAR},
      </if>
      <if test="text3 != null">
        text3 = #{text3,jdbcType=VARCHAR},
      </if>
      <if test="text4 != null">
        text4 = #{text4,jdbcType=VARCHAR},
      </if>
      <if test="text5 != null">
        text5 = #{text5,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="guihua != null">
        guihua = #{guihua,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null">
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Ruxuetest">
    update ruxuetest
    set sid = #{sid,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      text1 = #{text1,jdbcType=VARCHAR},
      text2 = #{text2,jdbcType=VARCHAR},
      text3 = #{text3,jdbcType=VARCHAR},
      text4 = #{text4,jdbcType=VARCHAR},
      text5 = #{text5,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      guihua = #{guihua,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>