<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.SystongzhiMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Systongzhi">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    id, text, time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from systongzhi
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getsystongzhi" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from systongzhi
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from systongzhi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Systongzhi">
    insert into systongzhi (id, text, time, 
      active)
    values (#{id,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Systongzhi">
    insert into systongzhi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Systongzhi">
    update systongzhi
    <set>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Systongzhi">
    update systongzhi
    set text = #{text,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>