<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofangtang.mapper.YaoyueMapper">
  <resultMap id="BaseResultMap" type="com.xiaofangtang.model.Yaoyue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sage" jdbcType="VARCHAR" property="sage" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="ssex" jdbcType="VARCHAR" property="ssex" />
    <result column="iswx" jdbcType="VARCHAR" property="iswx" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="daofang" jdbcType="VARCHAR" property="daofang" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="othername" jdbcType="VARCHAR" property="othername" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sname, sage, tel, classes, ssex, iswx, time, info, daofang, tname, othername
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yaoyue
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getyaoyue" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yaoyue
  </select>

  <select id="getyaoyueByteacher" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yaoyue
    where tname = #{teacher,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yaoyue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaofangtang.model.Yaoyue">
    insert into yaoyue (id, sname, sage, 
      tel, classes, ssex, 
      iswx, time, info, daofang, 
      tname, othername)
    values (#{id,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{sage,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, #{ssex,jdbcType=VARCHAR}, 
      #{iswx,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{daofang,jdbcType=VARCHAR}, 
      #{tname,jdbcType=VARCHAR}, #{othername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaofangtang.model.Yaoyue">
    insert into yaoyue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="sage != null">
        sage,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="ssex != null">
        ssex,
      </if>
      <if test="iswx != null">
        iswx,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="daofang != null">
        daofang,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="othername != null">
        othername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sage != null">
        #{sage,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="ssex != null">
        #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="iswx != null">
        #{iswx,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="daofang != null">
        #{daofang,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="othername != null">
        #{othername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaofangtang.model.Yaoyue">
    update yaoyue
    <set>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sage != null">
        sage = #{sage,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="ssex != null">
        ssex = #{ssex,jdbcType=VARCHAR},
      </if>
      <if test="iswx != null">
        iswx = #{iswx,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="daofang != null">
        daofang = #{daofang,jdbcType=VARCHAR},
      </if>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="othername != null">
        othername = #{othername,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaofangtang.model.Yaoyue">
    update yaoyue
    set sname = #{sname,jdbcType=VARCHAR},
      sage = #{sage,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      ssex = #{ssex,jdbcType=VARCHAR},
      iswx = #{iswx,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      daofang = #{daofang,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      othername = #{othername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>